.hero {
	width: 100%;
	color: black;
	.line {
		border-left: #c9cacd 2px solid;
		height: 1.25rem;
	}
	.star {
		color: #f4ab3e;
		padding: 0.125rem;
		font-size: 1rem;
	}
	.location {
		color: #185aaa;
		cursor: pointer;
	}
	.tags {
		font-size: 0.75rem;
		padding: 0.25rem 0.5rem;
		background: #e8f0fe;
		border-radius: 0.5rem;
	}

	i {
		font-size: 1.5rem;
		font-weight: bold;
	}
	.discount {
		background-color: #d32f2f;
		color: #fff;
		padding: 0.25rem 0.75rem;
		border-radius: 1rem;
		font-size: 0.6rem;
		font-weight: bold;
	}
	.price {
		display: flex;
		.price_dis {
			text-align: end;
			font-size: 0.75rem;
		}
		.price_line {
			border-left: #000 2px solid;
			margin: 0.5rem 1rem;
		}
		.price_value {
			font-size: 1.5rem;
			font-weight: bold;
		}
	}
}

.main {
	color: #000;
	.filter {
		box-sizing: border-box;
		box-shadow: 0px 0px 0px 1px #c9cacd;
		border: 0.05rem solid #c9cacd;
		border-radius: 0.5rem;
		padding: 1rem;
		font-size: 1.125rem;
	}
	.highlight_card {
		padding: 0.5rem;
		background-color: #f6f9ff;
		border-radius: 0.5rem;
	}
	.previous {
		box-shadow: 0px 0px 0px 1px #c9cacd;
		border: 0.05rem solid #c9cacd;
		border-radius: 0.5rem;
		padding: 0.5rem;
		font-size: 1.125rem;
	}
	.next {
		box-shadow: 0px 0px 0px 1px #f4af49;
		border: 0.05rem solid #f4af49;
		background: #f4af49;
		border-radius: 0.5rem;
		padding: 0.5rem;
		font-size: 1.125rem;
	}
	.page_number {
		padding: 0.5rem;
		font-size: 1.125rem;
		.active {
			box-shadow: 0px 0px 0px 1px #e8f0fe;
			background-color: #e8f0fe;
			border-radius: 0.5rem;
			padding: 0.75rem 1rem;
			color: #000;
		}
	}
}
