.hero {
	width: 100%;
	color: black;
}

.main {
	color: #000;
	.badge {
		padding: 0.25rem 0.5rem;
		background: #f4ae45;
		border-radius: 0.5rem;
		font-size: 0.75rem;
	}
	.btn_load {
		padding: 1rem 2rem;
		background: #f4ae45;
		border-radius: 0.5rem;
		font-size: 1rem;
	}
	.page_number {
		padding: 0.5rem;
		font-size: 1.125rem;
		a {
			box-shadow: 0px 0px 0px 1px #e8f0fe;
			background-color: #e8f0fe;
			border-radius: 0.5rem;
			padding: 0.75rem 1rem;
			color: #000;
		}
		.active {
			box-shadow: 0px 0px 0px 1px #f5b85d;
			background-color: #f5b85d;
			border-radius: 0.5rem;
			padding: 0.75rem 1rem;
			color: #000;
		}
	}
}
