.hero {
	width: 100%;
	color: black;
	.card {
		display: flex;
		justify-content: center;
		border: #cecfd1 solid 1px;
		padding: 2.5rem;
		height: 40rem;
		border-radius: 1rem;
		ul {
			width: 100%;
		}
		li {
			list-style: none;
		}
	}
	.user_name {
		display: flex;
		align-items: center;
		justify-content: center;
		border: #cecfd1 solid 1px;
		border-radius: 1rem;
		padding: 1rem;
		.edit_btn_photo {
			padding: 0.5rem;
			border: #cecfd1 solid 1px;
			border-radius: 0.5rem;
			text-decoration: none;
		}
		.edit_btn_name {
			padding: 0.5rem 0.75rem;
			border: #f4ae45 solid 1px;
			border-radius: 0.5rem;
			background: #f4ae45;
			text-decoration: none;
		}
	}
	.user_email {
		display: flex;
		flex-direction: column;
		border: #cecfd1 solid 1px;
		border-radius: 1rem;
		padding: 1rem;
		.verified {
			text-transform: uppercase;
			color: #fff;
			background: #04aa6d;
			padding: 0.25rem;
			font-size: 0.75rem;
			border-radius: 0.5rem;
		}
	}
	.user_password {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border: #cecfd1 solid 1px;
		border-radius: 1rem;
		padding: 1rem;
		.btn {
			text-transform: uppercase;
			padding: 0.25rem 1rem;
			border: #f4ae45 solid 1px;
			border-radius: 0.5rem;
			background: #f4ae45;
		}
	}
	.user_phone {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border: #cecfd1 solid 1px;
		border-radius: 1rem;
		padding: 1rem;
		.verified {
			text-transform: uppercase;
			color: #fff;
			background: #04aa6d;
			padding: 0.25rem;
			font-size: 0.75rem;
			border-radius: 0.5rem;
		}
		.btn {
			text-transform: uppercase;
			padding: 0.25rem 1rem;
			border: #f4ae45 solid 1px;
			border-radius: 0.5rem;
			background: #f4ae45;
		}
	}
	.subscription_list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border: #cecfd1 solid 1px;
		border-radius: 1rem;
		padding: 1rem;
		font-size: 1.25rem;
	}
	.subscription_check_list {
		padding: 1rem 0;
		font-size: 1.25rem;
	}
	.promotion {
		display: flex;
		justify-content: center;
		align-items: center;
		border: #e8f0fe solid 1px;
		padding: 7.5rem;
		border-radius: 1rem;
		background: #e8f0fe;
	}
}
