.footer {
	width: 100%;
	padding: 1rem 0 0 0;
	background: #e8f0fe;
	ul {
		li {
			a {
				color: black !important;
			}
			padding: 0.5rem 0;
		}
	}
	.credits {
		width: 100%;
		padding: 1rem 0;
		text-align: center;
		color: #fff;
		background: #000;
	}
}
