$primary-color: #cda45e;
$secondary-color: #d9ba85;

$white: #fff;
$black: #000;

$white-opacity: rgba(255, 255, 255, 0.5);
$black-opacity: rgba(0, 0, 0, 0.5);

$success-green: #18d26e;
$error-red: #ed3c0d;

$form-placeholder: #a49b89;
