.hero {
	width: 100%;
	height: 100vh;
	background: url('/hero-bg.jpg') top center;
	background-size: cover;
	position: relative;
	padding: 0;
	justify-content: center;
	align-items: center;
	display: flex;
	.container {
		padding: 1rem;
	}
	.card {
		box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
		background: rgba(0, 0, 0, 0.5);
		// box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		.card_head {
			padding: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			.card_head_title {
				font-size: 24px;
				font-family: 'Playfair Display', serif;
				font-weight: 600;
				color: #fff;
				// text-transform: uppercase;
				letter-spacing: 0.5px;
			}
			.symbol {
				border: rgb(0, 255, 0) solid 1px;
				background: rgb(0, 255, 0);
				border-radius: 50%;
				width: 5rem;
				height: 5rem;
				display: flex;
				justify-content: center;
				align-items: center;
				// margin-left: 45%;
				.symbol_item {
					position: relative;
					font-size: 5rem;
					color: #fff;
				}
			}
		}
		.card_body {
			padding: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			form {
				justify-content: center;
				align-items: center;
				flex-direction: column;
			}
			.card_body_title {
				font-size: 18px;
				font-weight: 600;
				color: #fff;
				text-transform: uppercase;
				letter-spacing: 0.5px;
			}
			.card_body_text {
				width: max-content;
				padding: 10px 0 0 0;
				font-size: 14px;
				font-weight: 400;
				color: #fff;
				letter-spacing: 0.5px;
			}
		}
		.reset_pass {
			background-image: linear-gradient(to right, #ff512f 0%, #f09819 51%, #ff512f 100%);
			margin: 10px;
			padding: 10px;
			text-align: center;
			text-transform: uppercase;
			font-size: medium;
			transition: 0.5s;
			background-size: 200% auto;
			color: white;
			box-shadow: 0 0 20px #eee;
			border-radius: 10px;
			display: block;
			&:hover {
				background-position: right center; /* change the direction of the change here */
				color: #fff;
				text-decoration: none;
			}
		}
	}
}
