@import '../styles/variables.scss';

.hero {
	padding: 0;
	width: 100%;
	height: 100vh;
	color: #000000;
	font-family: 'Playfair Display', serif;
	background: url('/background.png') top center;
	background-size: cover;
	position: relative;
	justify-content: center;
	align-items: center;
	display: flex;
	.container {
		padding: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.symbol {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 1.5rem;
			.center {
				width: 5rem;
				height: 5rem;
				border-radius: 100%;
				background: #04aa6d;
				color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 5rem;
				margin: 0 1rem 0 1rem;
			}
		}
		.card_title {
			font-size: 2.25rem;
			font-weight: 600;
			letter-spacing: 0.5px;
		}
		.card_text {
			text-align: center;
			font-weight: 400;
			letter-spacing: 0.5px;
		}
		.reset_pass {
			border-color: transparent;
			background: #f4ab3e;
			margin: 20px;
			margin-top: 10px;
			padding: 10px;
			text-align: center;
			text-transform: uppercase;
			font-size: medium;
			color: $white;
			border-radius: 0.25rem;
		}
		a {
			color: #f4ab3e;
			text-decoration: none;
		}
		.back_sign_in {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
